<%= render 'shared/flash' %>
<%= render 'shared/errors', obj: @user %>
<%= form_for(@user) do |form| %>
  <div>
    <%= form.label :username %>
  </div>
  <div>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %>
  </div>
  <div>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
  </div>
  <div>
    <%= form.password_field :password_confirmation %>
  </div>
  <div>
    <%= form.submit(@user.new_record? ? "Sign Up" : "Update Account") %>
  </div>
<% end %>
