<!DOCTYPE html>
<html>
<head>
  <title>RaiBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>

  <%= link_to 'Home', root_path %>
  <a href="/login">Log In</a>
  <a href="/logout" data-method="delete">Log Out</a>
  <%= render 'layouts/messages' %>
  
  <%= yield %>
</body>
</html>
